.comments
{
    margin-top: 50px;
}
.comments h6
{
    color: white;
}
.comments__textarea
{
    background-color: white;
    
    outline: none;
    padding: 10px;
    font-size: 15px;
    min-height: 120px;
    resize: none;
    line-height: 24px;
    letter-spacing: 1.2px;
}
.comments__submit
{
    float: right;
    outline: none;
    padding: 12px 32px;
    color: white;
    background-color: tomato;
    border: 1px solid tomato;
    cursor: pointer;
    display: flex;
    transition: .5s ease all;
}
.comments__submit:hover
{
    border:1px solid white;
}
.comments__submit i
{
    font-size: 18px;
    margin-left: 8px;
}
.comments__item
{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}
.comments__item .comments__item-username
{
    text-decoration: underline;
}
.comments__item-date
{
    float: right;
    font-size: 10px;
    color: rgb(139, 139, 139);
}
.comments__item-body
{
    margin-top: 10px;
}
.comment__errors
{
    color: rgb(202, 0, 0);
}