.pagination
{
    text-align: center;
}
.pagination-items .pagination-item 
{
    width: 40px;
    height: 40px;
    list-style: none;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    transition: 1s ease all;
    font-size: 20px;
    cursor: pointer;
    color: rgb(235, 235, 235)!important;
    background-color: #121212;
}

.pagination-items .active,.pagination-item:hover 
{
    background-color: #ff625f;
  
}